<div class="my-4 bg-dark">
    <nav class="nav-item d-flex justify-content-around bg-dark ">
          <a routerLink="/transfer" routerLinkActive="active" class="btn btn-primary m-4 justify-context"
            target="_blank">Transfer Fund</a>
          <a routerLink="/addamount" routerLinkActive="active"  class="btn btn-primary m-4 justify-context"
             target="_blank">Add Amount</a>
           <a  class="btn btn-primary m-4 justify-context text-white" (click)="show()"
             target="_blank">Show Balance</a>
        <a routerLink="/viewtxnquery" routerLinkActive="active"  class="btn btn-primary m-4 justify-context"
            target="_blank">View Transactions</a>



    </nav>
</div>

